section .container.main{
    position: relative;
    top: 120px;
}
section .container .menus{
    border: 2px solid #6fa8ff;
    padding-top: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    padding-bottom: 10px;
}
section .main .col-md-12 h1{
    height: 80px;
}
section .container .menu{
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.col-md-12 div{
    padding: 20px;
    width: 50%;
    height: 80%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.col-md-12 div:active{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #6fa8ff;
}
.col-md-12 div:active > p{
    color: white;

}
@media screen and (max-width: 600px){
   .navbar-brand{
      transform: scale(0.8); 
    }
    .nav-item:last-child{
        width: 40%;
	}
    li.nav-item{
       transform: scale(0.8);
       position: absolute;
       right: 0;
       top: 25%;
    }
    .col-md-4{
        display: none;
    }
    section .container .menu{
        display: flex;
        margin-left: 0px;
    }
    .menu div{
        transform: scale(0.9);
        flex: 1;
    }
    section .main .col-md-12 h1{
        margin-top: -15px;
    }
    section .container .menu{
        margin-bottom: -10px;
    }
}